<nb-card size="medium">

  <nb-card-header>
    <span>My Tracked Values</span>
    <nb-select [selected]="type" (selectedChange)="getUserActivity($event); type = $event">
      <nb-option *ngFor="let t of types" [value]="t">{{ t }}</nb-option>
    </nb-select>



  </nb-card-header>

  <nb-list class="user-activity-list">
    <nb-list-item *ngFor="let item of selectedTickers">

      <div class="visited-date">
        {{ item.code }}
      </div>

      <div class="visited-pages-count">
        <div class="caption">Price</div>
        <div class="value">{{ item.price }}</div>
      </div>

      <div class="visited-percentages">
        <div class="caption">Min</div>
        <div class="delta value" [class.up]="false" [class.down]="true">
          <nb-icon [icon]="'arrow-down'" pack="eva"></nb-icon>
          {{ item.minThreshold }}%
        </div>
      </div>

      <div class="visited-percentages">
        <div class="caption">Max</div>
        <div class="delta value" [class.up]="true" [class.down]="false">
          <nb-icon [icon]="'arrow-up'" pack="eva"></nb-icon>
          {{ item.maxThreshold }}%
        </div>
      </div>

    </nb-list-item>
  </nb-list>
  <button nbButton [status]="'primary'" [shape]="'semi-round'" outline>
    Add New
  </button>

</nb-card>
