


<div class="steppers-container row" >

  <div class="col-md-12 col-lg-6 col-xxxl-6"  >


    <nb-card  >
      <nb-card-header>
        <span>My Tracked Values </span>
        <div class="caption">Currency in EUR</div>
        <nb-select [selected]="type" (selectedChange)="getUserActivity($event); type = $event"
                   style="float: right">
          <nb-option *ngFor="let t of types" [value]="t">{{ t }}</nb-option>
        </nb-select>
        <nb-icon icon="refresh-outline" (click)="getSelectedTickers()" [options]="{ animation: { type: 'zoom' } }"></nb-icon>
      </nb-card-header>
      <nb-card-body>

          <table class="customTable">

            <tr  >
              <th>Code</th>
              <th>minThreshold</th>
              <th>Price Now </th>
              <th>maxThreshold</th>
              <th>Delete</th>
            </tr>

            <tr *ngFor="let item of selectedTickers">

              <td class="visited-percentages" >
                {{ item.code }}
              </td>

              <td class="visited-percentages">

                <div class="delta value" [class.up]="false" [class.down]="true">
                  <nb-icon [icon]="'arrow-down'" pack="eva"></nb-icon>
                  {{ item.minThreshold }} €
                </div>
              </td>

              <td class="visited-percentages" >

                <div class="value">{{ item.price }} €</div>
              </td>

              <td class="visited-percentages">

                <div class="delta value" [class.up]="true" [class.down]="false">
                  <nb-icon [icon]="'arrow-up'" pack="eva"></nb-icon>
                  {{ item.maxThreshold }} €
                </div>
              </td>

              <td class="visited-percentages">

                <div class="delta value"  (click)="removeItem(item)">
                  <nb-icon [icon]="'trash-2-outline'" pack="eva" style="color: #ca3131"></nb-icon>
                </div>

              </td>


            </tr>
          </table>


      </nb-card-body>

    </nb-card>
  </div>


<div class="col-md-12 col-lg-6 col-xxxl-6">

    <nb-card >
      <nb-tabset fullWidth  >
        <nb-tab tabTitle="Stock">

            <nb-card size="medium" >
              <nb-card-header>
                <span>Available Stocks</span>
                <input type="text" nbInput   shape="semi-round"  [(ngModel)]="query" (ngModelChange)="search()" >
                <nb-icon icon="refresh-outline" (click)="refresh('stock')" [options]="{ animation: { type: 'zoom' } }"></nb-icon>

              </nb-card-header>

              <br>
              <nb-list  >
                <nb-list-item *ngFor="let item of listTickers"    >

                  <div class="visited-date" (click)="openStock(item, 'stock')">
                    {{ item.code }}
                  </div>
                  <div class="visited-date">
                    {{ item.name }}
                  </div>


                </nb-list-item>
              </nb-list>

              <nb-card-footer>
                <div class="row">
                  <div class="column2">
                    <button nbButton outline status="primary" (click)="Paginate('left')"> back </button>
                  </div>
                  <div class="column2">
                    <button style="float: right"  nbButton outline status="primary" (click)="Paginate('right')"> more </button>
                  </div>

                </div>
              </nb-card-footer>

            </nb-card>

        </nb-tab>

        <nb-tab tabTitle="Crypto" [lazyLoad]="true">

          <div class="summary-container">
            <nb-card size="medium">
              <nb-card-header>
                <span>Available Crypto Currencies</span>
                <input type="text" nbInput shape="semi-round"  [(ngModel)]="query" (ngModelChange)="searchCrypto()" >
                <nb-icon icon="refresh-outline" (click)="refresh('crypto')" [options]="{ animation: { type: 'zoom' } }"></nb-icon>

              </nb-card-header>

              <br>
              <nb-list class="user-activity-list">
                <nb-list-item *ngFor="let item of listCrypto">

                  <div class="visited-date" (click)="openCrypto(item, 'crypto')">
                    {{ item.symbol }}
                  </div>

                  <div class="visited-date">
                    {{ item.name }}
                  </div>


                </nb-list-item>
              </nb-list>

              <nb-card-footer>
                <div class="row">
                  <div class="column2">
                    <button nbButton outline status="primary" (click)="PaginateCrypto('left')"> back </button>
                  </div>
                  <div class="column2">
                    <button style="float: right"  nbButton outline status="primary" (click)="PaginateCrypto('right')"> more </button>
                  </div>

                </div>
              </nb-card-footer>

            </nb-card>


          </div>

        </nb-tab>

        <nb-tab tabTitle="Forex" [lazyLoad]="true">

          <div class="summary-container">
            <nb-card size="medium">
              <nb-card-header>
                <span>Available Forex</span>
                <input type="text" nbInput   shape="semi-round"  [(ngModel)]="query" (ngModelChange)="searchForex()" >
                <nb-icon icon="refresh-outline" (click)="refresh('forex')"
                         [options]="{ animation: { type: 'zoom' } }"></nb-icon>

              </nb-card-header>

              <br>
              <nb-list class="user-activity-list">
                <nb-list-item *ngFor="let item of listForex">

                  <div class="visited-date" (click)="openForex(item, 'forex')">
                    {{ item.code }}
                  </div>
                  <div class="visited-date" >
                    {{ item.name }}
                  </div>

                </nb-list-item>
              </nb-list>

              <nb-card-footer>
                <div class="row">
                  <div class="column2">
                    <button nbButton outline status="primary" (click)="PaginateForex('left')"> back </button>
                  </div>
                  <div class="column2">
                    <button style="float: right"
                            nbButton outline status="primary" (click)="PaginateForex('right')"> more </button>
                  </div>

                </div>
              </nb-card-footer>

            </nb-card>


          </div>

        </nb-tab>

      </nb-tabset>
    </nb-card>
  </div>

</div>

