<div class="content" role="main">
  <div class="card highlight-card card-small">


    <span>{{ title }} app is running!</span>

    <svg id="rocket-smoke" alt="Rocket Ship Smoke" xmlns="http://www.w3.org/2000/svg" width="516.119" height="1083.632" viewBox="0 0 516.119 1083.632">
      <path id="Path_40" data-name="Path 40" d="M644.6,141S143.02,215.537,147.049,870.207s342.774,201.755,342.774,201.755S404.659,847.213,388.815,762.2c-27.116-145.51-11.551-384.124,271.9-609.1C671.15,139.365,644.6,141,644.6,141Z" transform="translate(-147.025 -140.939)" fill="#f5f5f5"/>
    </svg>

  </div>

  <input type="hidden" #selection>

  <div class="card-container">

    <div class="card card-small" (click)="navigateToInput()" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/>
      </svg>
      <span>Add New Alerte</span>

    </div>
  </div>




</div>



<nb-card size="medium">
  <nb-card-header>
    <div class="row">
      <div class="column"> Code </div>
      <div class="column"> Price </div>
      <div class="column"> Min </div>
      <div class="column"> Max </div>
    </div>
  </nb-card-header>
  <nb-list>

    <nb-list-item *ngFor="let item of selectedTickers" style="display: block">
      <div class="row">
        <div class="column"> {{item.code}} </div>
        <div class="column"> {{item.price}} </div>
        <div class="column"> {{item.minThreshold}} </div>
        <div class="column"> {{item.maxThreshold}} </div>

      </div>
    </nb-list-item>
  </nb-list>
</nb-card>
